.side-nav {
    position: relative;
    width: 5%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #C57642;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.ico{
    height: 14%;
    width: 96%;
}

.icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 23.5%;
    height: 60%;
}

.iconus {
    color: white;
    font-size: 174%;
    cursor: pointer;

}

.upperIcons {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 38%;
    gap: 18%;
}

.lowerIcon{
    height: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 37%;
}