.side-nav {
    position: relative;
    width: 5%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #C57642;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.ico1{
    height: 14%;
    width: 96%;
}

.icons1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 19.5%;
    height: 70%;
}

.iconus1 {
    color: white;
    font-size: 160%;
    cursor: pointer;

}

.upperIcons1 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 38%;
    gap: 18%;
}

.lowerIcon1{
    height: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 37%;
}

.parent-sideNav {
    position: relative;
    display: flex;
}

.lastIcon{
    position: absolute;
    color: white;
    font-size: 160%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}