
.faq-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;

  }
  

  .faq-container .accordion {
    margin-bottom: 10px;
  }
  .faq-container h2 {
    color: var(--black, #2D2D2D);
    
    font-size: clamp(26px, 5vh, 30px);
    font-weight: 700;
 
margin-bottom: 15px;
  }