
.feature-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  /* Blurred Ellipse Background */
  .feature-card::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;

    background: #C57642;
    opacity: 0.1;
    filter: blur(25px);
    border-radius: 50%;
    top: -1%;  
    z-index: 0;
  }
  

  .icon-container {
    position: relative;
    z-index: 1; /* Puts the icon above the background */
    width: 80px;
    height: 80px;
    background: #C57642;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -4px -4px 90px #C57642;
  }
  
  .feature-icon {
    width: 40px;
    margin-left: 1px;
    height: auto;
  }

  .feature-card h3{
    color: var(--black, #2D2D2D);
text-align: center;


font-size: 20px;

font-weight: 550;

  }

  .feature-card p{
    color: var(--black, #2D2D2D);
text-align: center;


font-size: 15px;

font-weight: 400;

  }
  




  .feature-card h3, .feature-card p {
    position: relative;
    z-index: 1; 
  }