@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top:20px;
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #E8C07D 0%, rgba(232, 192, 125, 0.90) 36.83%, rgba(232, 192, 125, 0.75) 58.42%, rgba(232, 192, 125, 0.50) 80%, rgba(232, 192, 125, 0.25) 90%, rgba(232, 192, 125, 0.13) 95%, rgba(232, 192, 125, 0.00) 100%);
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  
  .footer-logo {
    height: 40px; 
    margin-bottom: 10px;
  }
  
  .footer-text {
    font-size: 15px;
    font-weight: 700;
  }
  .athar{
    color: #C57642
  }
  @media screen and (max-width: 768px) {
    footer {
      height: 80px;
    }
  
    .footer-text {
      font-size: 12px;
    }
  }