/* styling the Chatbot Component*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.bot-icon{
    font-size: 2rem;
    color: #C57642;
    z-index: 3;
    margin: 5px;
}

.bot-div{
    position:fixed;
    left: 95vw;
    bottom: 3vh;
    z-index: 3;
    
    border: solid 2px #C57642;
    background-color: #e8c07d;
    border-radius: 12px 12px 0 12px;
    cursor: pointer
   
}

.bot-div:hover{
    box-shadow: 0 4px 8px 0 gray;
    transition:  0.3s ease; 
}

.bot-wrapper {
    position: relative;
    display: inline-block;
    z-index: 10000
    ;
  }



/* Tooltip Styling */
.tooltip-bot {
    position: absolute;
    z-index: 10001;
    right: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-10px);
}

/* Show tooltip on hover */
.bot-div:hover .tooltip-bot {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    
}