.layoutDiv {
    margin: 0;
    padding:16px 0px ;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 262px);
    grid-auto-rows: 10px;
    justify-content: center;
    background-color: white;
  }
  