.not {
    margin: auto;
    width: 65%;
    margin-bottom: 60px;
  }
  
  .ow2 {
    margin-top: 15px;
    padding-left: 30px;
    list-style-type: decimal;
  }
  
  .ow3 {
    margin-top: 10px;
    list-style-type: disc;
    font-size: 18px;
  }
  
  .lili2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;

  }
  
  .lili3 {
    margin-bottom: 8px;
    text-decoration: underline;
  }
  
  .inforp3{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;

  }

  .inforp2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: normal;
  }
  
  .explique {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    width: 91%;
    display: block;
    margin-top: 4px;
    margin-left: 10px;
  }
  