@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to all elements */
}

.main-page-one {
    display: flex;
    width: 1024px;
    height: 100%;
}

.img-container-one {
    width: 100%;
    height: 100vh;
}

.main-img-one {
    width: 600px;
    height: 100vh;
    background-image:url("../assets/Group 38.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container-one {
    display: flex;
    width: 660px;
    height: 100vh;
    padding: 115px 57px 112px 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.inscription-form-one {
    display: flex;
    width: 410px;
    height: 500px;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 36px;
    border: 1px solid var(--NEUTRAL-400, #A0A5A6);
    background: var(--white, #FEFEFE);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

.form-group-one {
    display: flex;
    flex-direction: column;
    outline: none;
    gap: 2px;
    position: relative;
}

.input-one , .input-error {
       display: flex;
        padding: 8px 8px;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--NEUTRAL-400, #A0A5A6);
        background: var(--white, #FEFEFE);
        width: 300px;
        color: rgba(85, 85, 94, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 32px;
        outline: none;
        
}

    .input-error {
        border: 1.5px solid #EF4444 !important;
        outline: none !important;
    }

.pres1{
    position: absolute;
    flex-direction: column;
    bottom: 34px;
    color: white;
    font-size: 41px;
    line-height: normal;
    font-weight: 600;
    left: 22px;
    text-shadow: 0px 5px 20px rgba(0, 0,0,1)

}


.label-one {
    color: rgba(85, 85, 94, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}

.bien-one {
    color: var(--black, #2D2D2D);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    height: 24px;
}



.athar-one {
    color: var(--brown, #C57642);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0; 
}



.compte-one {
    color: #707778;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.connexion-one {
    color: #C57642;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.info-one {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn1-one {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        background: #E8C07D;
        border: none;
        cursor: pointer;
        color: var(--black, #2D2D2D);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.close-btn-one {
    background: none;
    border: none;
    position: absolute;
    top: 42px;
    right: 75px;
    cursor: pointer;
}

.close-btn-one img {
    width: 25px;
    height: 25px;
}

.close-btn-one:hover {
    filter: invert(18%) sepia(100%) saturate(7497%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

.eye-pass-one {
    position: relative;
}

.eye-one {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 14px;
    bottom: 12px;
    font-size: 12px;
    cursor: pointer;
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(95%) contrast(85%);
}

.backHome-logo {
    width: 90px;
    height: 70px;
    position: absolute;
    top: -57px;
    right: 15px;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    transition: transform 0.8s; /* Smooth transition for the transform property */
    pointer-events: auto;
    display: block;
    z-index: 9999;

}

.backHome-logo:hover {
    transform: translateY(55px); /* Move the button down when hovered */
}

.stexts{
    font-size: 7px;
    color: white;
    width: 80px;
    position: absolute;
    top: 0;
    right: 7px;
    pointer-events: none;
}

.err_message{
    font-size: 9px;
    color: #EF4444;
    position:absolute;
    border: 1.5px;
    top: 53px;
    left: 5px;
}




