/* animation for tooltip */
@keyframes fadeOut {
    0% { opacity: 0; }
    20% { opacity: 0; }
    50% { opacity: 0.6; }
    99% { opacity: 0.6; }
    100% { opacity: 0; }
  }
  
  .animate-fadeOut {
    animation: fadeOut 1500ms ease-in-out forwards;
  }