
.inscription-form-three {
    display: flex;
    width: 73%;
    height: 80%;
    padding: 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5%;
    border-radius: 27px;
    border: 1px solid var(--NEUTRAL-400, #A0A5A6);
    background: var(--white, #FEFEFE);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    position: relative;
}

.form-group-three {
    display: flex;
    flex-direction: column;
    outline: none;
    gap: 2px;
    position: relative;
    height: 20%;
}

.input-three {
    display: flex;
    padding: 8px 8px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--NEUTRAL-400, #A0A5A6);
    background: var(--white, #FEFEFE);
    width:100%;
    color: rgba(85, 85, 94, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 32px;
    outline: none;
    transition: border-color 0.3s;
}

.input-three:focus {
    border-color: #E8C07D;
    outline: 1.5px solid #E8C07D;
}

.input-three:focus:invalid {
    border-color: red;
    outline: 1.5px solid red;
}

.label-three {
    color: rgba(85, 85, 94, 0.70);
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}

.bien-three {
    color: #2D2D2D;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: -7px;
}

.athar-three {
    color: #C57642;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}

.compte-three {
    color: #707778;
    text-align: center;
    font-size: 0.9vw;
    font-weight: 400;
}

.connexion-three {
    color: #C57642;
    font-size: 0.9vw;
    font-weight: 400;
    cursor: pointer;
}

.info-three {
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 81%;
    height: 74%;
}

.close-btn-three {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
}

.close-btn-three img {
    width: 25px;
    height: 25px;
}

.close-btn-three:hover {
    filter: invert(18%) sepia(100%) saturate(7497%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

.eye-three {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(95%) contrast(85%);
}

.rr-three, .lr-three {
    width: 16px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    bottom: 6.5%;
}

.rr-three {
    right: 6%;
}

.lr-three {
    left: 6%;
}

.rr-three:hover, .lr-three:hover {
    filter: invert(66%) sepia(25%) saturate(747%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

.backHome-logo-three {
    width: 90px;
    height: 70px;
    position: absolute;
    top: -57px;
    right: 15px;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    transition: transform 0.3s;
}

.backHome-logo-three:hover {
    transform: translateY(10px);
}

.pres3{
    position: absolute;
    flex-direction: column;
    bottom: 34px;
    color: white;
    font-size: 41px;
    line-height: normal;
    font-weight: 600;
    left: 22px;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
}