.side-nav {
    position: relative;
    width: 5%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
   
    background-color: #C57642;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    overflow: visible; /* allow tooltip overflow */
    z-index: 3000; /* make sure it's above base content */
}




.ico1{
    width: 50%;
    cursor: pointer;
     
}

.icons1{
    display: flex;
    margin-top:20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 22%;
    height: 70%;
}

.iconus {
    color: white;
    font-size: 170%;
    cursor: pointer;

}

.upperIcons1 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 38%;
    gap: 18%;
}

.lowerIcon1{
    height: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 37%;
}

.parent-sideNav {
    position: relative;
    display: flex;
}

.lastIcon{
    position: absolute;
    color: white;
    font-size: 160%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}


/* Tooltip Styling */
.tooltip {
    position: absolute;
    z-index: 999999;
    left: 70px;
    background-color: white;
    color: black;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    border: 1.75px solid #C57642;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-10px) ;
}

/* Show tooltip on hover */
.nav-link:hover .tooltip, .lowerIcon1:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    
}

