

.popUp1-form-container {
    display: flex;
    width: 660px;
    height: 100vh;
    padding: 115px 57px 112px 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.popUp1-inscription-form {
    display: flex;
    width: 64%;
    height: 312px;
    padding: 24px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 27px;
    border: 1px solid var(--NEUTRAL-400, #A0A5A6);
    background: var(--white, #FEFEFE);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.popUp1-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.popUp1-input {
    display: flex;
        padding: 8px 8px;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--NEUTRAL-400, #A0A5A6);
        background: var(--white, #FEFEFE);
        width: 100%;
        color: rgba(85, 85, 94, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 32px;
        outline: none;
}

.popUp1-label {
    color: rgba(85, 85, 94, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}

.popUp1-bien {
    color: var(--black, #2D2D2D);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    height: 24px;
}


.popUp1-compte {
    color: #707778;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popUp1-connexion{
    color: #C57642;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}


.popUp1-mdp-oublie {
    color: #C57642;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    justify-content: end;
}

.popUp1-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 81%;
    height: 74%;
}

.popUp1-btn1 {
    display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        background: #E8C07D;
        border: none;
        cursor: pointer;
        color: var(--black, #2D2D2D);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}



.popUp1-close-btn {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
}

.popUp1-close-btn img {
    width: 25px;
    height: 25px;
}

.popUp1-close-btn:hover {
    filter: invert(18%) sepia(100%) saturate(7497%) hue-rotate(1deg) brightness(101%) contrast(104%);
}


.popUp1-eye {
    width: 12px;
    height: 12px;
    position: absolute;
    font-size: 16px;
    right: 17px;
    bottom: 44%;
    cursor: pointer;
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(95%) contrast(85%);
}

.popUp1-rr, .popUp1-lr {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 35px;
    cursor: pointer;
}

.popUp1-rr {
    right: 40px;
}

.popUp1-lr {
    left: 40px;
}

.popUp1-rr:hover, .popUp1-lr:hover {
    filter: invert(66%) sepia(25%) saturate(747%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

.err_message3 {
    font-size: 9px;
    color: #EF4444;
    position:absolute;
    border: 1.5px;
    top: 56px;
    left: 1px;
}