.Ti2{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    width: 101%;
    margin-bottom: 4%;
}

.ktibaa{
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
    z-index: 1100;
    margin-bottom: 7%;
}

.notif-pop2{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10%;
    border: 1px solid;
    padding: 22px 30px;
    border-radius: 29px;
    border: none;
    position: relative;
    background: white; /* Ensure it has a solid background */
    animation: fadeIn 0.3s;
    z-index: 1100; /* Ensure the pop-up is above everything */
}

.close-btn2{
    position: absolute;
    width: 25px;
    height: 25px;

    top: 12px;
    right: 12px;
    cursor: pointer;
}

.close-btn2:hover {
    filter: invert(18%) sepia(100%) saturate(7497%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
