.batens2{
    display: flex;
    gap: 4%;
    padding: 4%;
    height: 17%;
    width: 65%;
    justify-content: center;
    border-radius: 41px;
    align-items: center;
    color: #C57642;
    border: none;
    align-self: center;
    background-color: #E2E5E6;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s,background-color 0.3s,transform 0.3s,box-shadow 0.3s ;
}

.batens2:hover{
    color: black;
    background-color: #E8C07D;
    transform: scale(1.05);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.linkimg{
    width: 20px;
    height: 20px;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

