@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to all elements */
}

.main-page-two {
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.img-container-two {
    width: 48%;
    height: 100vh;
}

.main-img-two {
    width: 94%;
    height: 100vh;
    background-image:url("../assets/Group 38.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container-two {
    display: flex;
    width: 52%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 5%;
}

.pres1{
    position: absolute;
    flex-direction: column;
    bottom: 5%;
    color: white;
    line-height: normal;
    font-weight: 600;
    left: 1.5%;
    

}
.pri{
    font-size: 2.45vw;
    text-shadow: 0px 5px 20px rgba(0, 0,0,1)
}
.pre4{
    font-size: 2.45vw;
    text-shadow: 0px 5px 20px rgba(0, 0,0,1);
    background-image: linear-gradient(90deg, white, #E8C07D, #D4AF37);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: waveGradient 10s infinite linear;

    
}
@keyframes waveGradient {
    0% { background-position: 200% 0; }
    50% { background-position: -100% 0; } /* Moves left */
    75% { background-position: -100% 0; } /* Hold position for cooldown */
    100% { background-position: 200% 0; } /* Resets to start */
}

.redstar{
    color: red;
}



