.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: var(--color-brown, #C57642);
  border-radius: 2%;
  overflow: hidden;
  transition: width 0.4s ease;
}

.sidebar.collapsed {
  width: 5%;
}

.sidebar-header {
  position: relative;
  display: flex;
  padding: 5% 3%;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 20%;
  height: auto;
  object-fit: contain;
  transition: width 0.4s ease;
}

.sidebar-header .toggler {
  position: absolute;
  right: 5%;
  height: 60%;
  width: 20%;
  min-width: 10%;
  min-height: 5%;
  border: none;
  background: #fff;
  color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10%;
  transition: background 0.3s ease;
}

.sidebar-header .toggler:hover {
  background: #dde4fb;
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 5%;
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 5% 7%;
  border-radius:  10px;
  transition: background 0.4s ease, color 0.4s ease;
}

.sidebar-nav .nav-link i {
  font-size: 150%;
}

.sidebar-nav .nav-link:hover {
  color: #2d2d2d;
  background: #fff;
}

.sidebar-nav .nav-link .nav-title {
  transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
  justify-content: center;
  padding: 10%;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-title {
  display: none;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 1%;
  width: 100%;
}










