/* styling the PasswordCard Component*/

.password-container {
  width: 60%;
  padding: 40px 30px;
  background: #FFF;
  border-radius: 36px;
  border: 2px solid var(--NEUTRAL-300, #D1D4D5);
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 20%;
  margin-bottom: 40px;

}

.password-container-title{
  font-size: 1.5vw;
  font-weight: 600;
  color: var(--black-text, #2D2D2D);
  margin-bottom: 5%;
  width: 90%;
  margin-left: 5%;
}

.input-group-password{
  margin-bottom: 2%;
  position: relative;
}

.password-input {
  width: 80%;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid var(--NEUTRAL-400, #A0A5A6);
  background: var(--white, #FEFEFE);
  font-size: 1vw;
  font-weight: 500;
  color: var(--black-text, #2D2D2D);
}

.password-input .error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 3%;
}

.password-btn {
  display: flex;
  align-items: center;
  border-radius: 32px;
  background: var(--dune, #E8C07D);
  color: var(--black, #2D2D2D);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-left: 40%;
  margin-top: 5%;
}

.password-btn:hover {
  transform: scale(1.05);
}

.input-group-password label {
  display: block; 
  color: rgba(85, 85, 94, 0.70);
  font-family: Poppins;
  font-size: 1.2;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1%;
  text-align: left;
  padding-left: 4.7vw;  
  
}

.eye-icon {
  position: absolute;
  right: 12%; 
  top: 71%; 
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: var(--NEUTRAL-400, #A0A5A6);
}

