.user-container {
  background-color: var(--color-white ,#fefefe);
  border-radius: 36px;
  border: 2px solid var(--NEUTRAL-300, #D1D4D5);
  padding: 16px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: left;
  margin-bottom: 2%;
  margin-left: 2%;
}

.user-details {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10%;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.user-fullname {
  font-size: 1.2vw;
  font-weight: 600;
  color: var(--black, #2D2D2D);
}

.user-job-title{
  font-size: 1vw;
  font-weight: 600;
  color: var(--NEUTRAL-500, #707778);
}

.user-password-link {
  color: var(--brown, #C57642);
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: underline;
}

/* Ajustement du conteneur */
.user-avatar-box {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--NEUTRAL-200, #E0E0E0);
}

.user-avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
  display: block;
}

.user-upload-icon {
  position: absolute;
  top: 40%;
  right: 35%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  padding: 4px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.user-upload-icon:hover {
  background: rgba(0, 0, 0, 0.8);
}


#imageUpload {
  display: none;
}


